/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {

}

@media (prefers-color-scheme: dark) {
  /* .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  } */
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainDiv h1{
  font-family: Chewy;
  color: #f7ec9b;
  padding-top: 3%;
  font-size: 120px;
}

.buttonsGrid {
  flex-flow: column wrap;
  align-items: center;
  padding-top: 1%;
  display: flex;
}

.buttonsGrid a {
  background-color: #F0E9B6;
  margin: 15% 0%;
  padding: 30px;
  border-radius: 10px;
  color: #827148;
  font-family: 'Momo Trust Display';
}

.buttons {
  padding-bottom: 15%;
  background-color: #f9e9cf;
  margin: 10%;
  border-radius: 5%;
  text-align: center;
}

.buttonsGrid a:hover{
    background-color: #a09c80;
    color: #F0E9B6;
    transition: ease-in-out 0.25s;
}

@media (max-width: 600px) {
  .mainDiv h1 {
    font-size: 70px;
    padding-top: 8%;
  }
}